body{
    background: #0d002b;
}
.c_clear{
    clear:both;
}
.banner {
    width: 100%;
    height: 750px;
    background: #0d002b;
    position: relative;
}
.zhuangs { 
  margin:0 auto;
  text-align:center; 
  width:100%;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; 
  margin:0 auto;
}
.c_text_box{
    width:100%;
    height:100%;
    background: url(../images/banner.png) no-repeat top center;
    position: relative;
    z-index: 3;
}
.c_red_box{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: url(../images/red.png) no-repeat center center;
    animation: myfirst 1s;
    -moz-animation: myfirst 1s; /* Firefox */
    -webkit-animation: myfirst 1s;  /* Safari 和 Chrome */
    -o-animation: myfirst 1s;   
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;       /* IE 9 */  /* Safari 和 Chrome */
    -webkit-transform-origin:50% 50%;   /* Safari 和 Chrome */     /* Firefox */
    -moz-transform-origin:50% 50%;      /* Firefox */       /* Opera */
    -o-transform-origin:50% 50%;         
}
@keyframes myfirst
{
    from {
        transform: scale(0,0);
        -ms-transform: scale(0,0);  /* IE 9 */
        -webkit-transform: scale(0,0);  /* Safari 和 Chrome */
        -o-transform: scale(0,0);   /* Opera */
        -moz-transform: scale(0,0); /* Firefox */
    }
    to {
       transform: scale(1,1);
        -ms-transform: scale(1,1);  /* IE 9 */
        -webkit-transform: scale(1,1);  /* Safari 和 Chrome */
        -o-transform: scale(1,1);   /* Opera */
        -moz-transform: scale(1,1); /* Firefox */ 
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    from {
        transform: scale(0,0);
        -ms-transform: scale(0,0);  /* IE 9 */
        -webkit-transform: scale(0,0);  /* Safari 和 Chrome */
        -o-transform: scale(0,0);   /* Opera */
        -moz-transform: scale(0,0); /* Firefox */
    }
    to {
       transform: scale(1,1);
        -ms-transform: scale(1,1);  /* IE 9 */
        -webkit-transform: scale(1,1);  /* Safari 和 Chrome */
        -o-transform: scale(1,1);   /* Opera */
        -moz-transform: scale(1,1); /* Firefox */ 
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {
        transform: scale(0,0);
        -ms-transform: scale(0,0);  /* IE 9 */
        -webkit-transform: scale(0,0);  /* Safari 和 Chrome */
        -o-transform: scale(0,0);   /* Opera */
        -moz-transform: scale(0,0); /* Firefox */
    }
    to {
       transform: scale(1,1);
        -ms-transform: scale(1,1);  /* IE 9 */
        -webkit-transform: scale(1,1);  /* Safari 和 Chrome */
        -o-transform: scale(1,1);   /* Opera */
        -moz-transform: scale(1,1); /* Firefox */ 
    }
}

@-o-keyframes myfirst /* Opera */
{
    from {
        transform: scale(0,0);
        -ms-transform: scale(0,0);  /* IE 9 */
        -webkit-transform: scale(0,0);  /* Safari 和 Chrome */
        -o-transform: scale(0,0);   /* Opera */
        -moz-transform: scale(0,0); /* Firefox */
    }
    to {
       transform: scale(1,1);
        -ms-transform: scale(1,1);  /* IE 9 */
        -webkit-transform: scale(1,1);  /* Safari 和 Chrome */
        -o-transform: scale(1,1);   /* Opera */
        -moz-transform: scale(1,1); /* Firefox */ 
    }
}
.hongbao{
    width:1200px;
    margin:74px auto 0;
}
.hongbaoList {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
}
.hongbaoList li {
    float: left;
    width:364px;
    height:320px;
    position: relative;
    margin-bottom:40px;
}
.c_one{
    background: url(../images/one.png) no-repeat;
    margin-right:36px;
}
.c_two{
    background: url(../images/two.png) no-repeat;
    margin-right:36px;
}
.c_three{
    background: url(../images/three.png) no-repeat;
}
.c_four{
    background: url(../images/four.png) no-repeat bottom center;
    margin-left:200px;
    margin-right:36px;
}
.c_five{
    background: url(../images/five.png) no-repeat bottom center;
}
.c_formula_mode{
    width:350px;
    padding:50px 10px;
    background: #f00000;
    height:200px;
    position: absolute;
    top:20px;
    left:0px;
    display: none;
}
.c_formula_mode p{
    font-size:18px;
    color:#fff;
    line-height: 36px;
}
.c_dif_size{
    display: block;
    font-size:16px;
}

.hongbaoList li a{
    display: block;
    width:100%;
    height:60px;
    position: absolute;
    bottom:0px;
    left:0px;
}
.c_rule_top{
    width:1100px;
    height:106px;
    background: url(../images/guizeb1.png) no-repeat top center;
    margin:90px auto 0;
}
.c_rule_bottom{
    width:1100px;
    height:50px;
    background: url(../images/guizeb2.png) no-repeat top center;
    margin:0px auto 50px;
}
.c_rule_box{
    width:960px;
    margin:0px auto;
    padding:0px 70px;
    background: url(../images/guizeb3.png) repeat-y;
}
.c_rule_box p,#hidden{
    line-height: 48px;
    font-size:22px;
    color:#ffffff;
}
#hidden{
    display: none;
}
.c_rule_box a img{
   margin:6px 0;
}
.tabbox{
    width:1070px;
    margin:0px auto;
    position: relative;
    height:420px;
}
.c_tab{
    width:488px;
    height:124px;
    position: absolute;
    right:-4px;
    top:0px;
}
.c_tab span{
    width:232px;
    height:44px;
    padding:30px 0 16px;
    display: block;
    float: left;
    border:1px solid #fc0dc1;
    border-bottom:none;
    box-shadow: 2px -2px 8px #ff61c2;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left:10px;
    position: relative;
    z-index: 10;
    background: #0d002b;
}
.c_tab span.c_add_bg{
    background: url(../images/center02.gif) no-repeat center -20px;
    border:none;
    background-size:118%;
    z-index: 0;
    padding:30px 0 36px;
}
.c_tab span img{
    margin:0px auto;
}
.content{
    border:1px solid #e80dfc;
    border-radius:24px;
    box-shadow:0px 0px 20px #d861ff;
    position: absolute;
    top:90px;
    left:0px; 
    width:100%; 
    background: #0d002b;
}
.content.c_delete_radius{
   border-top-right-radius:0px;
}
.tabbox_out{
    float: left;
    position: relative;
    width:533px;
    min-height: 216px;
    padding:117px 0px 6px;
}
.tabbox_left{
    border-right:1px solid #e80dfc;
}
.tabbox_right{
    border-left:1px solid #e80dfc;
    margin-left:2px;
}
.c_title_img{
    width:272px;
    height:90px;
    position: absolute;
    left:-20px;
    top:15px;
}
.c_tabbox_p{
    line-height: 34px;
    margin:10px 0;
}
.c_tabbox_p span,.c_tabbox_p i{
    font-size:24px;
    color:#fff;
    display: inline-block;
    width:240px;
    padding-left:10px;
}
.c_tabbox_p i{
    margin-left:30px;
}
.c_get_money{
    width:248px;
    height:74px;
    display: block;
    float: right;
    background: url(../images/btn.png) no-repeat;
    margin:7px 10px 0 0;
}
.c_tabbox_ptips{
    font-size:18px;
    color:#fff;
    text-align: right;
    margin:5px 10px 0 0;
}

.c_newtabbox_out{
    padding:15px 0;
}
.c_newtabbox_out table{
   color:#fff;
   width:100%;
   text-align: center;
}
.c_newtabbox_out table th{
    font-size:18px;
    line-height: 34px;
}
.c_newtabbox_out table td{
    font-size: 24px;
    line-height: 34px;
    height:55px;
}
.c_tabbox{
    display: none;
}
.c_box_imga{
    width:100%;
    height:340px;
    background: url(../images/imga.png) no-repeat center center;
    position: relative;
}
.c_box_imga a{
    display: block;
    width:191px;
    height:60px;
    background: url(../images/datatwo.png) no-repeat;
    position: absolute;
    bottom:76px;
    right:271px;
}
.c_box_imgb{
    background: url(../images/imgb.png) no-repeat center center;
}

.hongbao_outbox1{
    width:100%;
    min-height: 1781px;
    background: url(../images/zs.png) no-repeat center 340px;
}